{
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "semi": "warn",
        "no-multiple-empty-lines": "error"
    },
    "env": {
        "jest": true
    }
}
